@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 122px;
    /* background-color: rgb(241, 240, 240); */
    display: block;
}

header > img.logo {
    padding-bottom: 10px;
    padding-left: 120px;
    padding-top: 15px;
    width: 250px;
}

header > p {
    color: #0B3954;
    display: inline-block;
    padding-left: 1000px;
    padding-top: 50px;
    position: absolute;
}

header > p.icon {
    color: #0B3954;
    display: inline block;
    padding-left: 1050px;
    padding-top: 20px;
}

header > span {
    color: #0B3954;
    display: inline-block;
    padding-left: 900px;
    position: absolute;
    margin-top: 50px; 
    width: 10px;
}

header > span:hover {
    background-color: #8c78d56e;
}


header > input {
    background-color: rgba(239, 239, 239, 0.8);
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 40px;
    padding: 13px;
    position: absolute;
    width: 500px;
}

header > input:hover {
    background-color: #8c78d56e;
}

header > nav.menu {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 10px;
    padding-left: 60px;
}

header > nav.menu > a {
    text-decoration: none;
    color: #0B3954;
    padding: 20px;
}

header > nav.menu > a:hover {
    color: #5071D5;
}

main {
    width: 95vw;
    height: 80vh;
}

footer {
    background-color: black;
    padding: 20px;
}

footer > p {
    color: wheat;
    text-align: center;
}
