@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root {
    --cor0: #5071D5;
    --cor1: #0B3954;
    --cor2: #962317;
    --cor3: #444444;
    --cor4: #5C676D;
    --cor5: #FFB128;
    --fonte-padrao: 'Sora', cursive;
    --fonte-poppins: 'Poppins', cursive;
    
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

header {
    height: 122px;
    /* background-color: rgb(241, 240, 240); */
    display: block;
}

header > img.logo {
    padding-bottom: 10px;
    padding-left: 180px;
    padding-top: 15px;
    width: 200px;
}

header > p {
    color: #0B3954;
    display: inline-block;
    padding-left: 1000px;
    padding-top: 50px;
    position: absolute;
}


header > span {
    color: #0B3954;
    display: inline-block;
    padding-left: 1050px;
    position: absolute;
    margin-top: 20px; 
    width: 10px;
}

header > span:hover {
    background-color: #8c78d56e;
}


header > input {
    background-color: rgba(239, 239, 239, 0.8);
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 40px;
    padding: 13px;
    position: absolute;
    width: 500px;
}

header > input:hover {
    background-color: #8c78d56e;
}

header > nav {
    font-size: 0.8em;
    font-weight: bold;
}

header > nav.menu {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 15px;
    padding-left: 160px;
}

header > nav.menu > a {
    text-decoration: none;
    color: #0B3954;
    padding: 20px;
}

header > nav.menu > a:hover {
    color: #5071D5;
}

main {
    width: 95vw;
    height: 65vh;
}

main > h1 {
    margin: 50px;
}

footer {
    background-color: black;
    padding: 20px;
}

footer > p {
    color: var(--cor5);
    text-align: center;
}
